RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.addons.download-lagu-mp3.com$ [NC]
RewriteRule ^(.*)$ https://addons.download-lagu-mp3.com/$1 [R=301,L]
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /